@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

.App {
  padding: 3.3em 4.5em;
  min-width: 600px;
}

body {
  font-family: 'Mulish', sans-serif;
  background: linear-gradient(119.11deg, #FF7982 0%, #FF8D53 100%);
  height: 100vh;
}