@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  color: #09183F;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0.87em 2.1em;
  background-color: #fff;
  border: 1px solid #09183F;
  font-weight: 700;
}
.signup-btn {
  background: linear-gradient(90.09deg, #FF748D 0%, #FF8E4F 100%);
  border: none;
  color: #fff;
  font-weight: 600;
}
